<div class="header">
    <app-menu-button class="header__button"></app-menu-button>

    <a routerLink="" class="header__logo-group">
        <img alt="open blueprint logo" class="header__logo" src="assets/images/obp-logo.svg" />
        <span class="header__title">Open Blueprint</span>
    </a>

    <div class="header__menu">
        <a routerLink="">
            <mat-icon class="header__menu-item">account_circle</mat-icon>
        </a>
        <a routerLink="">
            <mat-icon class="header__menu-item">notifications</mat-icon>
        </a>
    </div>
</div>
