@import '../base/variables';

@mixin padding {
  padding-right: 1rem;
  padding-left: 1rem;
}

.blueprint-card {
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  font-family: $font-family;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.4rem $theme-color-gray-dark;

  &__thumb {
    position: relative;
    height: 10rem;
    overflow: hidden;

    &__image {
      width: 100%;
      height: 100%;
    }

    &__overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: opacity 500ms ease-in-out;

      &__difficulty,
      &__skill-list {
        margin-bottom: 1rem;
      }
    }
  }

  &__content {
    color: #fff;
    background-color: $theme-color-main-light;

    &__belt {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      height: 1rem;
      background-color: $theme-color-main;

      @include padding;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;

      @include padding;
    }

    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 2rem;
      overflow: hidden;
      font-size: 0.7rem;

      &__maker,
      &__date {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      @include padding;
    }
  }

  &:hover {
    .blueprint-card__thumb__overlay {
      opacity: 1;
    }
  }
}
