@import '../base/variables';

$transition-duration: 300ms;

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color $transition-duration;
  user-select: none;

  &--primary {
    background-color: $theme-color-main;

    &:hover {
      background-color: $theme-color-hover;
    }

    &:active {
      background-color: $theme-color-active;
    }
  }

  &--big {
    font-size: 1.5rem;
  }
}
