@import '../base/variables';

.hero {
  min-height: 15vh;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background-color: $theme-color-main-light;

  &__title,
  &__description {
    color: #fff;
  }
}
