@import '../base/variables';

.icon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__label {
    margin-right: $icon-size / 2;
    margin-left: $icon-size / 2;
    font-size: $icon-size * 0.75;
  }
}
