@import "../../../../../../styles/scss/base/variables";

@mixin padding {
  padding-right: 1rem;
  padding-left: 1rem;
}

.blueprint-card {
  position: relative;
  width: 15rem;
  height: 17rem;
  font-family: $font-family;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.4rem $theme-color-gray-dark;

  &__thumb {
    position: relative;
    height: 10rem;
    overflow: hidden;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  &__difficulty {
    display: flex;
    justify-content: center;

    &__icon {
      padding-right: 0.5rem;
    }

    &__label {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  &__difficulty,
  &__skill-list {
    margin-bottom: 1rem;

    &__item {
      display: flex;
      justify-content: center;

      &__icon {
        width: 1rem;
        height: 1rem;
        padding-right: 0.5rem;
      }
    }
  }

  &__content {
    color: #fff;
    background-color: $theme-color-main-light;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;

      @include padding;
    }

    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 2rem;
      overflow: hidden;
      font-size: 0.7rem;

      &__maker,
      &__date {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      @include padding;
    }
  }

  &__belt {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 1.5rem;
    background-color: $theme-color-main;

    @include padding;
  }

  &__favorite {
    display: flex;
    align-items: center;
    justify-content: center;

    &__label {
      font-size: 0.75rem;
    }
  }

  &:hover {
    .blueprint-card__overlay {
      opacity: 1;
    }
  }

  &__badge {
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    background-color: $theme-color-dark;
    border: solid 0.1rem $theme-color-gray-light;
    border-radius: 0.1rem;

    &__label {
      margin-left: 0.5rem;
      color: #fff;
      font-size: 0.75rem;
    }

    &__icon {
      width: 1rem;
      height: 1rem;
      color: #fff;
    }

    &--official {
      background-color: $theme-color-main-light;
    }
  }
}
