@import '../base/variables';
@import '../base/responsive';

.content {
  position: relative;
  top: $menu-size;
  align-items: center;
  min-width: 375px;
  max-width: $max-width;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  @include md-screen {
    padding-left: $menu-size;
  }
}
