<div class="landing">
    <div class="jumbotron">
        <img alt="open blueprint logo" class="jumbotron__image" src="assets/images/obp-logo.svg" />
        <h1 class="jumbotron__main-title">Open Blueprint</h1>
        <p class="jumbotron__baseline">An Open Plaform to increase creativity</p>
        <p class="jumbotron__presentation">Open Blueprint is an open platform to help makers to create, design, fix and improve projects.</p>
        <button mat-raised-button color="primary" routerLink="/explore/blueprint">Start</button>
    </div>

    <div class="presentation-section">
        <mat-icon svgIcon="make" class="presentation-section__icon"></mat-icon>
        <h2 class="presentation-section__title">Make</h2>
        <p class="presentation-section__presentation">Open Blueprint provide an repository of Blueprints. Blueprints are makers projects shared with the community. Each Blueprints explain every step to make what you whant with the community help.</p>
        <button mat-raised-button color="primary">Browse repository</button>
    </div>

    <div class="presentation-section">
        <mat-icon svgIcon="design" class="presentation-section__icon"></mat-icon>
        <h2 class="presentation-section__title">Design</h2>
        <p class="presentation-section__presentation">Open Blueprint can help you to bring to life your project with the community contribution.</p>
        <button mat-raised-button color="primary">Design a Blueprint</button>
    </div>

    <div class="presentation-section">
        <mat-icon svgIcon="contribute" class="presentation-section__icon"></mat-icon>
        <h2 class="presentation-section__title">Contribute</h2>
        <p class="presentation-section__presentation">Open mean contribution and everybody can contribute to a Blueprint or even to Open Blueprint platform, no mather what you skill are.</p>
        <p class="presentation-section__presentation">Every contribution are welcome, it can be :</p>
        <ul class="presentation-section__list">
            <li>an enhancement proposal</li>
            <li>a problem report</li>
            <li>a simple question</li>
        </ul>
        <button mat-raised-button color="primary">Contribute</button>
    </div>
</div>
