/****************
 * COLORS THEME *
 ****************/

$theme-color-accent: #082754;
$theme-color-main: #2680eb;
$theme-color-main-light: #4396ee;
$theme-color-hover: #1576e2;
$theme-color-active: #1368d2;
$theme-color-gray-dark: #9ab1cb;
$theme-color-gray-light: #c6d3e1;
$theme-color-dark: #24292e;

/*********
 * FONTS *
 *********/

$font-color: $theme-color-accent;
$font-family: 'Open Sans', sans-serif;
$link-hover-color: $theme-color-hover;
$title-color: $theme-color-main-light;

/********
 * ICONS *
 ********/

$icon-color: #fff;
$icon-size: 1rem;
$icon-active-color: gold;

/********
 * MENU *
 ********/

$menu-size: 4.5rem;
$menu-open-width: 22rem;
$menu-icon-size: 1.5rem;
$header-color: $theme-color-main;
$menu-nav-header-size: $menu-size;
$menu-nav-item-size: 3rem;
$menu-nav-color: $theme-color-dark;

/********
 * FORM *
 ********/

// Forms variables

$form-color: $theme-color-accent;
$form-background-color: #fff;
$form-border-color: $theme-color-main;
$form-border-width: 0.2rem;
$form-focus-border-color: $theme-color-active;
$form-placeholder-color: $theme-color-gray-dark;
$form-disabled-background-color: $theme-color-gray-light;
$form-disabled-border-color: $theme-color-gray-light;

// Inputs variables

$input-height: 2rem;

// Checkboxes / Radios / Switch variables

$check-size: 1rem;
$switch-background-color: $theme-color-gray-dark;
$check-background-color: $form-background-color;
$check-color: $theme-color-main;

/*********
 * OTHER *
 *********/

$max-width: 1400px;
$xs-screen-width: 540px;
$md-screen-width: 960px;
