@import "../../../../../styles/scss/base/variables";

.explorer {
  padding: 2rem;

  &__search {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__item {
      margin-bottom: 2rem;
    }
  }
}

.hero {
  min-height: 15vh;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background-color: $theme-color-main-light;

  &__title,
  &__description {
    color: #fff;
  }
}
