$theme-color1: #004365;
$theme-color2: #fff;
$theme-color3: #24292e;
$theme-color4: #6d7a8b;
$xs-screen-width: 400px;
$md-screen-width: 800px;
$lg-screen-width: 1200px;
$max-width: 1400px;
$menu-size: 70px;
