@import './variables';

.landing {
  align-items: center;
  text-align: center;

  .jumbotron {
    padding: 2rem;

    &__image {
      width: 60%;
    }

    &__main-title {
      color: $theme-color1;
    }
  }

  &-section {
    padding: 2rem;

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  .make__icon,
  .design__icon,
  .contribute__icon {
    color: $theme-color1;
    font-size: 4rem;
  }
}
