.landing {
  align-items: center;
  text-align: center;

  .jumbotron {
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__image {
      width: 60%;
    }
  }

  &-section {
    margin-bottom: 2rem;

    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}
