@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import './button';
@import './menu';
@import './navbar';
@import './landing';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  top: $menu-size;
  background-color: $theme-color2;
  max-width: $max-width;
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

footer {
  width: 100%;
  position: fixed;
}

a {
  @include text-style;

  text-decoration: none;

  &:hover {
    @include transition-ease;

    color: $theme-color1;
  }
}

p {
  @include text-style;
}

li {
  @include text-style;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include text-style;

  color: $theme-color3;
  text-transform: uppercase;
  line-height: 1.2;
}

i {
  &.fas {
    color: $theme-color2;
  }
}

.has-sidebar {
  margin-left: $menu-size;
}
