@import './variables';
@import './mixins';

$logo-height: $menu-size * 0.6;

.menu {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: $menu-size;
  background: $theme-color1;
  z-index: 1;
  min-width: 350px;

  &-btn {
    display: inline-block;
    position: relative;
    width: $menu-size;
    height: 100%;

    &__burger {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 50%;
      height: 4px;
      background-color: $theme-color2;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.3s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 4px;
        background-color: $theme-color2;
        transition: all 0.3s ease-in-out;
      }

      &::before {
        transform: translateY(-10px);
      }

      &::after {
        transform: translateY(10px);
      }
    }

    &:hover {
      .menu-btn__burger {
        &::before {
          transform: translateY(-15px);
        }

        &::after {
          transform: translateY(15px);
        }
      }
    }

    &.open {
      .menu-btn__burger {
        background: transparent;

        &::before,
        &::after {
          transform-origin: 50% 50%;
        }

        &::before {
          transform: translateY(0) rotate(45deg);
        }

        &::after {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }

  &-logo {
    position: fixed;
    top: 0;
    left: $menu-size;
    height: $menu-size;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__image {
      height: $logo-height;
    }

    &__label {
      display: none;
    }
  }

  &-top {
    width: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 10px;
    height: $menu-size;

    &__item {
      font-size: 30px;
    }
  }

  @include md-screen {
    &-logo__label {
      display: block;
      color: $theme-color2;
      font-size: 1.25rem;
      margin-left: 0.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
